---
layout: layouts/home.njk
permalink: /slide/
eleventyNavigation:
  key: slides
  order: 2
---

<h1><a href="{{ permalink | url }}">slides</a></h1>

{% set postslist = collections.slide %}
{% include "postslist.njk" %}
