---
layout: layouts/home.njk
permalink: /slide/
eleventyNavigation:
  key: shitposts
  order: 2
---

<h1><a href="{{ permalink | url }}">shitposts</a></h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
