---
layout: layouts/home.njk
---
{% set maxPosts = collections.slide.length | min(3) %}

{% set postslist = collections.slide %}
{% set postslistCounter = collections.slide | length %}
{% include "postslist.njk" %}
