---
layout: layouts/home.njk
---
{% set maxPosts = collections.posts.length | min(3) %}

{% set postslist = collections.posts %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
