<ol class="postlist">
{% for post in postslist %}
  {% if post.data.tags.indexOf('hide') === -1 %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
  </li>
  {% endif %}
{% endfor %}
</ol>
